<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserTeamMapper">

    <resultMap type="com.example.demo.model.UserTeam" id="BaseResultMap">
       <id column="id" jdbcType="BIGINT" property="id"/>
       <id column="userId" jdbcType="BIGINT" property="userId"/>
       <id column="teamId" jdbcType="BIGINT" property="teamId"/>
       <id column="joinTime" jdbcType="TIMESTAMP" property="joinTime"/>
       <id column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
       <id column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
       <id column="isDelete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,teamId,joinTime,
        createTime,updateTime,isDelete
    </sql>

</mapper>